*.pyc
*.out
*.png
*.gv
*.csv
.ipynb_checkpoints/*
catkin_ws/.ipynb_checkpoints/*
catkin_ws/.rosinstall
catkin_ws/.rosinstall.bak
logdir/*
catkin_ws/build/*
catkin_ws/devel/*
catkin_ws/venv/*
catkin_ws/logs/*
catkin_ws/__pycache__/*
*LICENSE

